@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
.content {
  margin: 20px auto;
  padding: 20px;
}
.food-flip-title{
  font-size: 50px;
}

/********************************************************************/
/* blog previews / list */
.blog-list{
  display: flex;
  justify-content: center;
}
.blog-preview {
  padding: 10px 30px;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width:fit-content;
  border-radius: 25px; 
}
.blog-preview h2 {
  font-size: 20px;
  color: rgb(25, 25, 25);
  margin-top: 10px;
  margin-bottom: 8px;
  text-align: center;
}
.blog-preview a {
  text-decoration: none;
}
.recipe-list-image{
  border-radius: 25px;
}

/********************************************************************/
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/********************************************************************/
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}